<div>
  <video #videoElement autoplay></video>
  <button (click)="startRecording()">Start Recording</button>
  <button (click)="stopRecording()">Stop Recording</button>
  <button *ngIf="recordedVideoUrl" (click)="downloadRecording()">Download Recording</button>
</div>

